streamlit
st-theme
langchain-classic
langchain-text-splitters
langchain-openai
langchain-community
langchain-huggingface
sentence-transformers
langchain-nvidia-ai-endpoints
langchain-unstructured
unstructured
unstructured[pdf]
faiss-gpu

